@media screen and (max-width: 768px) {
  .hero-images {
    flex-wrap: wrap; /* I-wrap ang mga larawan kapag lumalagpas na sa lapad ng screen */
    justify-content: center; /* I-center ang mga larawan horizontally */
  }

  .hero-image {
    width: 50px; /* I-adjust ang sukat ng larawan sa mga screen na may lapad na 768px o mas maliit */
    margin: 0 10px 10px 0; /* I-adjust ang margin para sa responsive layout */
  }
}

@media screen and (max-width: 576px) {
  .hero-image {
    width: 30px; /* I-adjust ang sukat ng larawan sa mga screen na may lapad na 576px o mas maliit */
  }
}



  /* Media query para sa responsive design */
@media screen and (max-width: 768px) {
    .hero-banner {
      max-width: 500px; /* Baguhin ang maximum na lapad sa mas maliit na screen */
      margin-top: 30px; /* I-adjust ang margin sa itaas para sa responsive layout */
    }
  }
  
  @media screen and (max-width: 576px) {
    .hero-banner {
      max-width: 300px; /* Baguhin ang maximum na lapad sa mas maliit na screen */
      margin-top: 30px; /* I-adjust ang margin sa itaas para sa responsive layout */
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-images {
      flex-wrap: wrap; /* I-wrap ang mga larawan kapag lumalagpas na sa lapad ng screen */
      justify-content: center; /* I-center ang mga larawan horizontally */
    }
  
    .hero-image {
      width: 50px; /* I-adjust ang sukat ng larawan sa mga screen na may lapad na 768px o mas maliit */
      margin-right: 15px; /* I-adjust ang margin para sa responsive layout */
    }
  }
  
  @media screen and (max-width: 576px) {
    .hero-image {
      width: 30px; /* I-adjust ang sukat ng larawan sa mga screen na may lapad na 576px o mas maliit */
      margin-right: 10px; /* I-adjust ang margin para sa mas maliit na screen */
    }
  }
  

  
/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
  .video-container {
    width: 100%; /* Gawing full width ang video container sa mga mas maliit na screen */
  }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .small-images {
    top: 125px; /* I-adjust ang pagitan mula sa itaas para sa mobile layout */
    flex-wrap: wrap; /* I-wrap ang mga larawan kapag nagiging masyadong maliit ang screen */
    justify-content: center; /* I-center horizontally ang mga larawan */
  }

  .small-images img {
    width: 50px; /* I-adjust ang sukat ng mga larawan para sa mobile layout */
    margin: 5px; /* I-adjust ang mga margin para sa mobile layout */
  }
  
  .center-image {
    top: 250px; /* I-adjust ang pagitan mula sa itaas para sa mobile layout */
  }
}

/* Default styles para sa text-inside-background at text-inside-background-bottom */
.text-inside-background,
.text-inside-background-bottom {
  display: block; /* Ipakita ang mga teksto by default */
}

/* Media query para sa responsive na layout */
@media (max-width: 768px) {
  /* I-set ang display property sa none para itago ang mga teksto kapag nagiging responsive ang layout */
  .text-inside-background,
  .text-inside-background-bottom {
    display: none;
  }
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}